task_stream/__*
task_stream/*/__*
task_stream/.vscode/
task_stream/.*/
task_stream/venv/
*/__*
*/.env
*/.vscode/
*/.*/
*/venv/
*/.DS_Store
task_stream/stam.txt
audio_files/
task_stream.db
*/.gitignore
*/eslint.config.js
*/package-lock.json
*/vite.config.js
*/src/.env
*/index.html
*/nodemon.json
*/*.svg
*/*/*.svg
*/*/*/*.svg